<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>增加故事步骤</title>


<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
.alert{color: #09b279;}
li {
    float: left;
}
li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}
li a.active {
    color: white;
    background-color: #4CAF50;
}
    .table{text-align:center;}
input{width: 700px;height:30px;}
body{min-height:100%;margin:0;padding:0;position:relative;background-color: #FCFCFC;}
.submit{width:80px;
    height: 60px;}

</style>
<script src="{{ url_for('static',filename='jquery3.6.0.js') }}"></script>
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class='alert'>{{ message }}</div>

    {% endfor %}
    <div>
        <form class="table" action="{{ url_for('story.add_step',story_id=story_id) }}" method="post">

            <div style="margin-top:10px" class="dropdown">
                <label class="form-item-label">选择环境：</label>

                <select name = "environment" style="width:600px;height:33px;" >
                    <option value="测试">测试</option>
                    <option value="预发">预发</option>
                    <option value="线上">线上</option>
                </select>
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">平台系统：</label>
                <select name = "projects" style="width:600px;height:33px;">
                    <option value="后台">后台</option>

                </select>
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">步骤名称：</label>
                <input type="text"  name="name" style="width:600px;height:33px;" >
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">接口地址：</label>
                <input type="text" name="url" style="width:600px;height:33px;" placeholder="请输入接口地址">
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">请求方法：</label>
                <select name = "method" style="width:600px;height:33px;" placeholder="请输入方法类型">
                    <option value="get">GET</option>
                    <option value="post">POST</option>
                    <option value="put">PUT</option>
                    <option value="patch">PATCH</option>
                    <option value="delete">DELETE</option>
                </select>
            </div>

            <div style="margin-top:10px">
                <label class="form-item-label">请求data：</label>
                <input type="text" name="data" style="width:600px;height:33px;" >
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">登录账号：</label>
                <input type="text" name="username"  style="width:600px;height:33px;" placeholder="请输入账号">
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">登录密码：</label>
                <input type="text" name="password"  style="width:600px;height:33px;" placeholder="请输入密码">
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">故事变量名：</label>

                <input type="text" name="var" style="width:600px;height:33px;" placeholder="故事内其它步骤共享的局部变量">
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">获取返回值，设置为故事变量：</label>
                <input type="text" name="expression" style="width:600px;height:33px;" placeholder=“比如：data,userInfo,0,name，获取{data:{"userInfo":["name":"test"]}}”>
            </div>
            <div style="margin-top:10px">
                <label class="form-item-label">预期结果：</label>
                <input type="text" name="assertion" style="width:600px;height:33px;" placeholder="验证返回值的预期结果是否相等">
            </div>
            <input class="submit btn btn-default" type="button" style="margin-top:10px;height:33px;" value="返回" onclick="location.href='{{ url_for ('story.step',story_id=story_id)}}'" >
            <input class="submit btn btn-primary" type="submit" style="margin-top:10px;height:33px;" value="提交" >
        </form>
    </div>
</body>
</html>