<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Report Manage">

	<!-- PAGE TITLE HERE -->

    <title>故事测试</title>
    <!-- Custom Stylesheet -->

    <link href="{{ url_for ('static',filename='/bootstrap/css//bootstrap.css')}}" rel="stylesheet">

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}
li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
    html{height:100%;}
body{min-height:100%;margin:0;padding:0;position:relative;background-color:#FCFCFC;}
header{background-color: #fffffb;}
main{padding-bottom:100px;background-color: #FCFCFC;}/* main的padding-bottom值要等于或大于footer的height值 */
footer{position:absolute;bottom:0;width:100%;height:100px;background-color: #fffffb;}
.time{text-align: right;}

    body {text-align: center;} table {margin: auto;} footer {text-align: center;}/*表格居中*/
.alert{
    color: #09b279;}
</style>
</head>

<body>
    <div id="preloader">
        <div class="waviy">

		</div>
    </div>
    <div id="main-wrapper">
            <div class="container-fluid">
				<div class="row page-titles">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active"><a href="javascript:void(0)" style="width:110px;padding-top:0px;">故事测试</a></li>
					</ol>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <button class="submit btn btn-success btn-sm"  onclick="location.href='{{ url_for ('story.add')}}'">创建新故事</button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-responsive-md">
                                        <thead>
                                            <tr>
                                                <th style="width:80px;"><strong>序号</strong></th>
                                                <th><strong>故事名称</strong></th>
                                                <th><strong>所属产品</strong></th>

                                                <th><strong>描述</strong></th>
                                                <th><strong>测试状态</strong></th>
                                                <th><strong>最新运行</strong></th>
                                                <th><strong>创建日期</strong></th>
                                                <th><strong>操作</strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for story in storys %}
                                            <tr>
                                                <td><strong>{{ story.id }}</strong></td>
                                                <td herf="{{ url_for('story.run',story_id=story.id) }}" >{{ story.name }}</td>
                                                <td>{{ story.projects }}</td>

                                                <td>{{ story.record }}</td>

                                                {% if story.status == 1 %}
                                                    <td style="vertical-align:middle;text-align:center;"><button id="run_status" type="button" class="btn btn-success btn-sm">故事测试通过</button></td>
                                                {% elif story.status == 0 %}
                                                    <td style="vertical-align:middle;text-align:center;"><button id="run_status" type="button" class="btn btn-defult btn-sm">待运行</button></td>

                                                {% else %}
                                                <td style="vertical-align:middle;text-align:center;"><button id="run_status" type="button" class="btn btn-danger btn-sm">故事测试不通过</button></td>
                                                {% endif %}
                                                <td>{{ story.run_time }}</td>

                                                <td>{{ story.create_time }}</td>
                                                <td>
                                                    <div>
                                                         <a class="btn btn-success btn-sm" onclick="runStory({{ story.id }})" >运行</a>
<!--href="{{ url_for('story.run',story_id=story.id) }}"-->
                                                        <a class="btn btn-primary btn-sm" href="{{ url_for('story.step',story_id=story.id) }}">增改步骤</a>
                                                        <a class="btn btn-warning btn-sm" href="{{ url_for('story.delete',story_id=story.id) }}">删除</a>
                                                    </div></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <div style="text-align:center;margin-bottom:0rem;">
                                            {% from 'bootstrap/pagination.html' import render_pagination %}
                                            {{ render_pagination(pagination) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>




<script src="{{ url_for ('static',filename='jquery.js')}}"></script>
<script>
    function runStory(story_id){
        var story_id = story_id
        $.ajax({
            type: 'GET',
            url: '/story/run',
            dataType: 'json',
            data: {'story_id': story_id},
            success: function(res){
                alert(res.message)
            },
            error: function(){
                alert('error')
            }
        })
    }
</script>
</html>