
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>用户管理</title>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

li {
    float: left;
}

li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #ddd;
}

li a.active {
    color: white;
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="{{ url_for ('index')}}">首页</a></li>
  <li><a href={{ url_for ('apitest')}}>接口测试用例管理</a></li>
  <li><a href={{ url_for ('apitest')}}>性能测试用例管理</a></li>
  <li><a href={{ url_for ('task')}}>测试任务管理</a></li>
  <li><a href={{ url_for ('resultMange')}}>测试报告管理</a></li>
  <li><a href={{ url_for ('apitest')}}>环境</a></li>

    <li><a class="active" href={{ url_for ('userMange')}}>用户管理</a></li>
  <li><a href={{ url_for ('help')}}>使用帮助</a></li>
</ul>
    <div style="text-align:center;">
        <form action="addtest",method="post">

            id <input type="text" name="userid">
            用户名 <input type="text" name="username">

            <input class="btn btn-default"  type="submit" value="搜索">
        </form>
        <input type="submit" class="btn btn-default" value="添加新用户" onclick="location.href='{{ url_for ('addTest')}}'">
    </div>
</body>
<hr>

</html>